PROJECT_NAME='Notification API'

REDIS_HOST='auth_redis'
REDIS_PORT=6379

POSTGRES_DB='notif_db'
POSTGRES_USER='fast'
POSTGRES_PASSWORD='123qwe'
POSTGRES_HOST='localhost'
POSTGRES_PORT=5432

POSTGRES_VERSION=14-alpine
REDIS_VERSION=7.2.4
REDIS_PORT=6379

AUTHJWT_KEY='secret'
ECHO_VAR=True
DEBUG=True

SECRET_KEY='secret'

RABBIT_HOST='rabbitmq'
RABBIT_PORT=5672
RABBIT_USER='guest'
RABBIT_PASSWORD='guest'
RABBIT_DELIVERY_MODE=2
RABBIT_EXCHANGE='emails'

RABBITMQ_VERSION=3.13.1-management
RABBITMQ_PORTS='15672:15672'