# This is a .env.sample file.
# Duplicate this file as .env or rename it
# and set the environment variables to match your
# desired config.

# ===== PostgreSQL =====
POSTGRES_USER='app'
POSTGRES_PASSWORD='123qwe'
POSTGRES_DB='movies_database'
POSTGRES_PORT=5432

# ===== Docker compose variales =====
POSTGRES_VERSION=14-alpine
INTERVAL_CHECK='5s'
TIMEOUT_CHECK='60s'
RETRIES_CHECK=5
# START_CHECK='30s'
NGINX_VERSION=1.19.2
NGINX_PORTS='8000:80'
NGINX_PORTS_NOTF='8001:81'
RABBITMQ_VERSION=3.13.1-management
RABBITMQ_PORTS='15672:15672'
