PROJECT_NAME='Auth API'

REDIS_HOST='auth_redis'
REDIS_PORT=6379

POSTGRES_DB='auth_database'
POSTGRES_USER='fast'
POSTGRES_PASSWORD='123qwe'
POSTGRES_HOST='auth_db'
POSTGRES_PORT=5432

POSTGRES_VERSION=14-alpine
REDIS_VERSION=7.2.4
REDIS_PORT=6379

AUTHJWT_KEY='secret'
ECHO_VAR=True
DEBUG=True

SERVICE_NAME='auth_service'
SECRET_KEY='secret'
