PROJECT_NAME='Auth API'

REDIS_HOST='auth_redis'
REDIS_PORT=6379

POSTGRES_HOST='auth_db'
POSTGRES_USER='app'
POSTGRES_PASSWORD='123qwe'
POSTGRES_DB='movies_database'
POSTGRES_PORT=5432

POSTGRES_VERSION=14-alpine
REDIS_VERSION=7.2.4
REDIS_PORT=6379

AUTHJWT_KEY='secret'
ECHO_VAR=True
DEBUG=False

SERVICE_NAME='auth_service'
SECRET_KEY='secret'
