# This is a .env.sample file.
# Duplicate this file as .env or rename it
# and set the environment variables to match your
# desired config.

# ===== FastAPI =====
PROJECT_NAME='Notification API'
AUTHJWT_KEY='secret'
ECHO_VAR=True
DEBUG=True
SECRET_KEY='secret'

# ===== Redis =====
REDIS_HOST='auth_redis'
REDIS_PORT=6379

# ===== PostgreSQL =====
POSTGRES_DB='notif_db'
POSTGRES_USER='fast'
POSTGRES_PASSWORD='123qwe'
POSTGRES_HOST='localhost'
POSTGRES_PORT=5432

# ===== RabbitMQ =====
RABBIT_HOST='rabbitmq'
RABBIT_PORT=5672
RABBIT_USER='guest'
RABBIT_PASSWORD='guest'
RABBIT_DELIVERY_MODE=2
RABBIT_EXCHANGE='emails'
RABBIT_QUEUE='email.new_registration'

# ===== Email variables =====
EMAIL_SENDER='admin@mail.com'
SMTP_HOST='mailhog'
SMTP_PORT=1025

# ===== Auth API variables =====
AUTH_SIGNIN_URL='http://0.0.0.0:8001/api/v1/users/signin'
AUTH_GET_USER_URL='http://0.0.0.0:8001/api/v1/users/user'
AUTH_ADMIN_NAME='admin'
AUTH_PASSWORD='12345'

# ===== Docker compose variales =====
POSTGRES_VERSION=14-alpine
REDIS_VERSION=7.2.4
REDIS_PORT=6379
