POSTGRES_DB='auth_database'
POSTGRES_USER='fast'
POSTGRES_PASSWORD='123qwe'
POSTGRES_HOST='auth_db'
POSTGRES_PORT=5432

POSTGRES_VERSION=14-alpine
INTERVAL_CHECK='5s'
TIMEOUT_CHECK='60s'
RETRIES_CHECK=5
# START_CHECK='30s'
# NGINX_VERSION=1.19.2
NGINX_PORTS='8001:80'
REDIS_VERSION=7.2.4
REDIS_PORT=6379